{% extends "base.jinja2" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/homepage_style.css') }}">

{% endblock %}
{% block content %}
    <div class="homepage">

        <div class="card">
            <img src="{{ url_for('static', filename='images/Me.jpg') }}" />
            <div>
                <h2>Legmont</h2>
                <h3>Goose on the loose</h3>
                <p>This is a training project</p>
            </div>
        </div>

        
    </div>
{% endblock %}